<div class="container">
  <% @feeds.each_with_index do |feed, i| %>
  <div>
    <h2><%= link_to feed.name, feed_path(feed, :lat => feed.latitude, :lng => feed.longitude, :radius => feed.radius) %></h2>
    <%= form_for feed, method: :delete do |f| %>
      <input type="hidden", name="unsubscribe_id", value="<%= feed.id %>">
      <%= f.submit "Unsubscribe" %>
    <% end %>
    <%# FIXME: this api call should really be in the controller %>
    <% @media[i].first(3).each do |media| %>
      <%= link_to image_path media.link do %>
        <span><%= image_tag media.images.low_resolution.url %></span>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <%= will_paginate @feeds %>
</div>
