<div class="container">
  <% @feeds.each do |feed| %>
  <div>
    <h2><%= link_to feed.name, feed_path(feed, :lat => feed.latitude, :lng => feed.longitude, :radius => feed.radius) %></h2>
    <!-- <%= link_to "Edit Feed", edit_feed_path(feed)%> -->
    <%= form_for feed, method: :delete do |f| %>
      <input type="hidden", name="unsubscribe_id", value="<%= feed.id %>">
      <%= f.submit "Unsubscribe" %>
    <% end %>
    <% Instagram.media_search(feed.latitude, feed.longitude, :distance => feed.radius).first(3).each do |photo| %>
      <span><%= image_tag photo.images.low_resolution.url %></span>
    <% end %>
  </div>
  <% end %>

  <%= will_paginate @feeds %>
</div>
