<!DOCTYPE html>
<html>
<head>
  <title>Cunningham</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
      <% if session[:user] %>
        <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a>
        <a href="/user/<%= session[:user]['id']%>/feeds">View Feeds</a>
      <% else %>
        <a href="/sign_in">Sign in</a>
        <a href="/sign_up">Sign up</a>
      <% end %>
      <button id="get">Get Location</button>
    </nav>
<%= yield %>

</body>
</html>
